.contain-animation {
  height: 400px;
}

.both-cars {
  position: relative;
  border-left: 6px solid white;
  border-right: 6px solid white;
  width: 640px;
  height: 500px;
  margin: 0 auto;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contain-car {
  /* position: absolute; */
  width: 160px;
  height: 110px;

  /*cada segundo ata os 4s moverase 640px/4 -> 160px 
  cada segundo cara a dereita*/
  animation: drive 4s steps(4, end) infinite;
  -webkit-animation: drive 4s steps(4, end) infinite;
  -moz-animation: drive 4s steps(4, end) infinite;
  -o-animation: drive 4s steps(4, end) infinite;

}

.contain-car-2 {
  /* margin-top: 120px; */
  /* con start a posición de partida
  será a 160px da súa posición inicial (xa se moveu 1 vez)*/
  animation: drive 4s steps(4, start) forwards;
  -webkit-animation: drive 4s steps(4, start) forwards;
  -moz-animation: drive 4s steps(4, start) forwards;
  -o-animation: drive 4s steps(4, start) forwards;
 
}

.car-top {
  position: absolute;
  left: 35px;
  border-radius: 50%;
  background: #ed6e46;
  width: 90px;
  height: 80px;
}

.window {
  position: absolute;
  left: 10px;
  top: 10px;
  background: white;
  border-radius: 100px 0 0 0;
  width: 30px;
  height: 30px;
}

.window-right {
  left: 50px;
  border-radius: 0 100px 0 0;
}

.car-bottom {
  position: absolute;
  top: 40px;
  color: white;
  background: #ed6e46;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  border-radius: 100px 100px 10px 10px;
  width: 160px;
  height: 50px;
}

.rueda {
  position: absolute;
  top: 60px;
  left: 12px;
  border-radius: 50%;
  background: #333333;
  width: 50px;
  height: 50px;
  animation: spin 4s steps(8,end) infinite;
  -moz-animation: spin 4s steps(8,end) infinite;
  -o-animation: spin 4s steps(8,end) infinite;
  -webkit-animation: spin 4s steps(8,end) infinite;

 
}
.contain-car-2 .rueda {
  animation: spin 4s steps(8,end) forwards;
  -moz-animation: spin 4s steps(8,end) forwards;
  -o-animation: spin 4s steps(8,end) forwards;
  -webkit-animation: spin 4s steps(8,end) forwards;
}

.rueda-right {
  left: 98px;
}

.rueda:after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  background: gray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.rueda-center {
  position: absolute;
  left: 25px;
  top: 15px;
  width: 0;
  height: 0;
  z-index: 20;
}

.rueda-center:after {
  content: "";
  display: block;
  position: absolute;
  left: -7px;
  top: 5px;
  width: 0;
  height: 0;
  border-left: 7px dotted transparent;
  border-right: 7px dotted transparent;
  border-top: 14px solid #333333;
}

/* paramos la animación*/
.boton {
  background-color: rgba(255, 166, 0, 0.986);
  margin: 0 auto;
  border: 1px solid rgb(154, 104, 11);
  padding: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  box-shadow: 3px 7px 10px gray;
}
div p,
label,
input {
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
}
input {
  display: none;
}

#parar:not(:checked)+label::after{
  content: "\270b";
}
#parar:checked+label::after{
  content: "\21bb";
}

#parar:checked~.contain-car,#parar:checked~.contain-car *{
  animation-play-state: paused;
}
#parar:not(:checked)~.contain-car,
#parar:not(:checked)~.contain-car *{
  animation-play-state: paused;
}
/*Animacion fotograma clave*/

@keyframes drive{
  to{
    transform: translateX(640px);
  }
}
@-moz-keyframes drive{
  to{
    transform: translateX(640px);
  }
}

@-webkit-keyframes drive{
  to{
    -webkit-transform: translateX(640px);
  }
}

@-o-keyframes drive{
  to{
    -o-transform: translateX(640px);
  }
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin{
  to{
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes spin{
  to{
    -o-transform: rotate(360deg);
  }
}
@-moz-keyframes spin{
  to{
    -moz-transform: rotate(360deg);
  }
}