
body{
    background-color: #095145;
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
}

div.contenedor{
    display: flex;
    grid-template-columns: repeat(15, 60px);
    grid-template-rows: repeat(15, 60px);
}

.carta{
    width: 180px;
    background-image: url("./img/asart-naipes-dorso-minimalart.png");
}
#bastos{
   
    background-image: url("./img/asart-naipes-bastos-1-minimalart.png");
}

#copas{
    background-image: url("./img/asart-naipes-copas-1-minimalart.png");
}

#espadas{
    background-image: url("./img/asart-naipes-espadas-1-minimalart.png");
}
#oros{
    background-image: url("./img/asart-naipes-oros-1-minimalart.png");
}



@keyframes girar {
    
    
}