.contenedor-grid{
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:1em;
   
}

img {
    width: 100%;
    height: auto;
}

.sitio {
    position: relative;
}


.titulo-sitio {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(90,0,10,0.4);
    

    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.image-sitio img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    }

.sitio:hover .imagen-sitio img {
    filter: blur(2px);
}

.imagen-sitio:hover{
    opacity:100%
}