/* POR AREAS */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;

  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  body {
    margin:0;
    min-height: 100vh;
    display: grid;
    /* grid 6col x 5row */
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav"
    "uc-left uc-left uc-center uc-center uc-right uc-right"
    "middle middle middle lower lower lower"
    "footer footer footer footer footer footer"
  }

  body > *{
    background-color: #666;
    border: 2px solid #222;
  }

  h2{
    text-align: center;
  }

  .header{
    grid-area: header;
  }

  .nav {
    grid-area: nav;
  }

  .uc-left {
    grid-area: uc-left;
  }
  .uc-right{
    grid-area: uc-right
  }

  .uc-center{
    grid-area: uc-center;
  }
  .middle {
    grid-area: middle;
  }
  .lower {
   grid-area: lower;
  }

  .footer {
   grid-area: footer;
  }

  @media  screen and (min-width:1024px) {
    body{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    "header header header header header "
    "nav uc-left uc-center uc-center uc-right  "
    "nav middle middle middle middle"
    "nav lower lower lower lower"
    "footer footer footer footer footer ";
    }
  }