@charset "utf-8";

/* Estilos de VideoPlayer */

video {
   display: block;
   width: 90%;
   align-items: center;
   margin: 5px auto;
}


/* Estilos de pista */

::cue {
   font: 1.3em sans-serif;
   color: rgb(221,128,160);
   background-color: rgba(36,32,32,0.8);
}






@media screen and(min-width:521px) {
   video{
      width: 360px;
      float:right;
      margin: 0 10px;
   }
   
}